
body.toolbar-tray-open .navbar.navbar-default.navbar-fixed-top {
  margin-top: 80px;
}

.navbar-fixed-top, .navbar-fixed-bottom {
  z-index: 100;
}

.toolbar-tray-horizontal ul li.menu-item--expanded:hover ul {
  z-index: 9999;
}

.menu-item--expanded .toolbar-menu {
  z-index: 9999;
}

@font-face {
  font-family: 'Fight club';
  src: url('../html/assets/fonts/FIGHTT3_.ttf');
  src:  url('../html/assets/fonts/FIGHTT3_.ttf') format('truetype');
}

.navbar-brand {
  font-family: 'Fight club', 'Raleway', sans-serif;
  font-weight: 900;
  font-size: 32px;
  padding-top: 0;
}

.navbar-brand img {
  height: 60px;
}