{#
/**
 * @file
 * Theme accordion.
 */
#}
{%
  set item_id = 0
%}
<div class="panel-group" id="{{ accordion_id }}" role="tablist" aria-multiselectable="true">
  {% for item in items %}
    {% set item_id = item_id + 1 %}
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="heading-{{ item_id }}">
        <h4 class="panel-title">
          <a role="button" class="collapsed" data-toggle="collapse" data-parent="#{{ accordion_id }}" href="#collapse-{{ item_id }}" aria-expanded="false" aria-controls="collapse-{{ item_id }}">
            {{ item.title }}
          </a>
        </h4>
      </div>
      <div id="collapse-{{ item_id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-{{ item_id }}">
        <div class="panel-body">
          {{ item.content }}
        </div>
      </div>
    </div>
  {% endfor %}
</div>
